.component {
    color: #fff;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.countingDownDays {
  display: inline-block;
}

.summerDescription {
    display: inline-block;
    margin-left: 6px;
  } 